<div class="home">
  <img src="/assets/img/logo.png" />
  <p>
    agdrily is a game written in coffee-script and hosted on heroku.
  </p>
  <ul class="button-list">
    <li><a href="/docs">Read the Docs</a></li>
    <li><a href="https://github.com/agdrily/agdrily">View the Git Repository</a></li>
  </ul>
</div>
