body {
  background-color: #444;
  color: #fff; }

a {
  text-decoration: none;
  color: #39b54a;
  transition: color 0.2s; }

a:hover {
  color: #1a5422; }

.home {
  text-align: center;
  margin-top: 15%; }
  .home .button-list {
    width: 15%;
    margin: auto; }

.button-list {
  list-style: none;
  padding: 0px;
  margin: 0px; }
  .button-list li {
    margin-bottom: 10px; }
    .button-list li a {
      display: block;
      width: 80%;
      text-align: center;
      margin: auto;
      padding: 5px;
      text-decoration: none;
      color: #fff;
      border: #fff solid 1px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      border-radius: 5px;
      background: -webkit-linear-gradient(#39b54a, #2d8e3a);
      background: -o-linear-gradient(#39b54a, #2d8e3a);
      background: -moz-linear-gradient(#39b54a, #2d8e3a);
      background: linear-gradient(#39b54a, #2d8e3a); }

.docs {
  width: 70%;
  margin: auto; }
  .docs .logo {
    margin: auto;
    width: 20%;
    display: block; }
  .docs .index {
    position: fixed;
    top: 0px;
    left: 5px;
    width: 15%; }
    .docs .index ul {
      list-style: none;
      margin: 0px;
      padding: 0px; }
      .docs .index ul ul {
        padding-left: 10px; }
