<div class="world-map">
  <canvas id="mainCanvas"></canvas>
  <script src="/assets/js/vendor/easeljs-0.8.1.min.js"></script>
  <script src="/world_map/draw.coffee" type="text/coffeescript"></script>
</div>
